[submodule "reference/phomemo_m02s"]
	path = reference/phomemo_m02s
	url = https://github.com/theacodes/phomemo_m02s
[submodule "reference/phomemo-printer"]
	path = reference/phomemo-printer
	url = https://github.com/ryo-endo/phomemo-printer
[submodule "reference/phomemo"]
	path = reference/phomemo
	url = https://github.com/sgrankin/phomemo
[submodule "reference/phomemo-tools"]
	path = reference/phomemo-tools
	url = https://github.com/vivier/phomemo-tools
[submodule "reference/phomemo-swift"]
	path = reference/phomemo-swift
	url = https://github.com/jeffrafter/phomemo
